---
import ImageWrapper from '../misc/ImageWrapper.astro'
import beatsImage from '@/assets/ad/beats.jpg';

---

<div id="ad" class="card-base p-4">
  <a class="text-neutral-700
  hover:text-[var(--primary)]
  dark:text-neutral-300
  dark:hover:text-[var(--primary)] underline" href="https://amzn.to/4fC5bjt" target="_blank"
>
  <ImageWrapper src={beatsImage.src} alt="Profile Image of the Author" class="mx-auto lg:w-full h-full lg:mt-0 "></ImageWrapper>
  Beats Studio Buds - True Wireless Noise Cancelling Earbuds - Compatible with Apple & Android, Built-in Microphone, IPX4 Rating, Sweat Resistant Earphones, Class 1 Bluetooth Headphones - Black</a>
</div>